@(message: String)

@main("Welcome to Play") {

    <div class="container" ng-app="MainApp">


        <h3 class="page-header">Using ng-file-upload </h3>

        <div ng-controller="MySecondCtrl">

                <div class="col-sm-3">
                    <div class="button btn btn-default" ngf-multiple="true" ngf-select ngf-change="upload($files)">Upload on file change</div>
                </div>

                <div class="col-sm-6 col-sm-offset-3" ng-show="width > 0">
                    <span class="glyphicon glyphicon-upload"> </span> {{filename}}
                    <div class="progress progress-striped" >
                        <div class="progress-bar" role="progressbar"
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{width}}%">{{width}}%</div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading"> <h1 class="panel-title">Completed</h1></div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr ng-repeat="file in list">
                                    <td>{{file}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


                @*
                <div class="panel panel-default">
                    <div class="panel-body">
                        Image thumbnail: <img ngf-src="files[0]" ngf-default-src="'/thumb.jpg'" ngf-accept="'image/*'">
                        Audio preview: <audio controls ngf-src="files[0]" ngf-accept="'audio/*'"></audio>
                        Video preview: <video controls ngf-src="files[0]" ngf-accept="'video/*'"></video>
                    </div>
                </div>
                *@

        </div>


    </div>

}
